extends layout

block content
 h1=title
 p
    a(href="../view") View
 h2=message
 form(action="/update", method="post", role="form")
        .form-group
          label.control-label(for="firstName") First Name
          .col
            input#firstName.form-control(name="firstName" value=results.firstName)
        .form-group
          label.control-label(for="lastName") Last Name
          .col
            input#lastName.form-control(name="lastName" value=results.lastName)
        .form-group
          label.control-label(for="department") Department
          .col
            select#department.form-control.input-sm(name="department")
              option(selected=results.department == "IT") IT
              option(selected=results.department == "Purchasing") Purchasing
              option(selected=results.department == "Accounting") Accounting
              option(selected=results.department == "HR") HR
              option(selected=results.department == "Tech-Services") Tech-Services
        .form-group
          label.control-label(for="startDate") Start Date
          .col
          -var date = new Date(results.startDate.toString());
          -var day = date.getDate();
          -var month = date.getMonth() + 1;
          -var year = date.getFullYear();
          if (day < 10)
            -var day = '0' + day
          if (month < 10)
            -var month = '0' + month
          -var myDate = year + "-" + month + "-" + day;
            input(type = "date")#startDate(name="startDate" value=myDate)
        .form-group
          label.control-label(for="jobTitle") Job Title
          .col
            input#jobTitle.form-control(name="jobTitle" value=results.jobTitle)
        .form-group
          label.control-label(for="salary") Salary
          .col
            input#salary.form-control(name="salary" value=results.salary)
        br
        input(type="hidden" name="_id" value=results._id)
        input(type="submit" value="Submit") 

